// media points
$tablet-width: 536px;
$desktop-width: 1024px;
$full-desktop-width: 1400px;

// colors
$purple: #5A24B6;
$yellow: #FDC93B;
$yellow-active: rgba(253, 201, 59, 0.5);
$red: #FE5251;
$grey-color: rgba(0, 0, 0, 0.4);
$primary-black: #404040;
$light-green: #7ed321;

// fonts
$paragraph-font-size: 16px;
$desktop-paragraph-font-size: 18px;
$text-line-height: 140%;

// transitions
$basic-transition: all 0.25s;
